.one{
    background-color: rgb(233, 221, 207);
    margin: 50px;
}
body{
    background-color: rgb(80, 70, 70);
    
    margin: 0%;
    border: 2px solid white;
}
.two{
    text-align: center;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
    margin: 20px;
    margin-top: 20px;
    padding-top: 20px;
}
.three{
    padding-left: 20%;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 20px;
}
.four{
    padding-left: 25%;
}
.button{
    padding-left: 150px;
    padding: 50px;
    margin: 50px;
}
input[type="text"]{
    background-color: white;
    border-radius: 5px;
    height: 25px;
}
input[type="submit"]{
    background-color: rgb(47, 47, 125);
    border-radius: 2px;
    height: 40px;
    width: 200px;
    color: white;
    font-size: 20px;
   
}